  <ng-container *ngIf="sentimentList.length>0;else nothingToDisplay">
    <div class="container">
      <br>
      <mat-card class="example-card" id="closeablecard">
          <mat-card-content>
            <h3 class="card-title"><strong style = "color: black;">{{companyName}}({{symbol}})</strong></h3>
            <div class="row">
              <ng-container  *ngFor="let item of sentimentList">
                <div class="col-sm-4">
                  <p>{{item.monthName | uppercase}} </p>
                        <p class="card-text col-sm-6"   >Change :{{item.change}}</p>
                        <p class="card-text col-sm-6" >MSPR : {{item.mspr }}</p>
                </div>
                </ng-container>            
            </div>
          </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [routerLink]="['']" color="primary">
              Back to list of stocks
            </button>      
        </mat-card-actions>
      </mat-card>
  </div>
</ng-container>
  <ng-template #nothingToDisplay>
    <div>
      Nothing to Display No Values for past three months
    </div>
  </ng-template>