<div class = "container" class = "parent">
    <br>
    <form [formGroup]="StockAdder" novalidate class = "form" >
        <br>
        <mat-form-field appearance="outline" [style.width.px]=400 style="text-align:left;">
            <mat-label>Enter The symbol of the stock to track</mat-label>
            <input matInput placeholder="Enter Value" type="text" formControlName = "StockSymbol" class = "form-control" name = "StockSymbol">
            <mat-icon matSuffix>query_stats</mat-icon>
            <mat-hint>symbol,stock-name</mat-hint>
            <mat-error *ngIf="StockAdder.controls.StockSymbol.errors?.required">Symbol is Required</mat-error>
            <mat-error *ngIf="StockAdder.controls.StockSymbol.errors?.invalidValue">Value exists in the list</mat-error>
            <mat-error *ngIf="StockAdder.controls.StockSymbol.errors?.RequiredValue">Please Enter Valid Symbol</mat-error>
          </mat-form-field>
            <button mat-raised-button color="primary" [style.margin-left.px]="10"  [disabled] = "StockAdder.invalid" (click)="onTrackStockClick()">
                Track Stock 
                <!-- <mat-icon matSuffix>search</mat-icon>  -->
            </button>
        
            <mat-progress-bar mode="indeterminate"  *ngIf="loading"></mat-progress-bar>
    </form>
</div>

<app-stock-detail-data   (notifyEvent)="addItem($event)" [events]="eventsSubject.asObservable()" [stockList]="stockList" ></app-stock-detail-data>