<!-- <div class="container">
    <div id="closeablecard" class="card card-hover-shadow mt-4">
      <div class="card-header bg-transparent border-bottom-0">
        <button data-dismiss="alert" data-target="#closeablecard" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body mt-n5">
        <h5 class="card-title">Your Title</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem recusandae voluptate porro suscipit numquam distinctio ut. Qui vitae, ut non inventore necessitatibus quae doloribus rerum, quaerat commodi, nemo perferendis ab.
        </p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div> -->
<div class ="container" *ngFor="let st of stlist">
    <div class="card card-hover-shadow mt-4 " id="closeablecard" >
        <div class="card-header bg-transparent border-bottom-0">
            <button data-dismiss="alert" data-target="#closeablecard" type="button" class="close" aria-label="Close" (click)="onClose($event,st.sym)" >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <h5 class="card-header">{{st.desc}}({{st.sym}})  </h5>
        
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <p class="card-text col-sm-6" >Change Today: {{st.pct}}% </p>
                        <p class="card-text col-sm-6" >Opening Price: {{st.op | currency}} </p>
                      </div>

                      <div class="row">
                        <p class="card-text col-sm-6" >Currenct Price: {{st.cp | currency}}</p>
                        <p class="card-text col-sm-6" >High Price: {{st.hp | currency}} </p>
                      </div>
                </div>

                <div class="col-sm-6">
                    <span *ngIf="st.pct>0; else RedMarker;" style="color: green; font-size:70px" [innerHTML]="greenIcon"></span>
                    <ng-template  #RedMarker>
                        <span style="color: red; font-size:70px" [innerHTML]="redIcon"></span>
                    </ng-template>

                </div>
            </div>
         
        <div class="row">
            <a [routerLink]="['/sentiment',st.sym]" class="btn btn-primary">Go To Social Sentiment details ></a>
        </div>
        </div>
        </div>

</div>