<h3><strong> Stock Tracker App </strong></h3>
This application is developed by keval shah as a part angulartraining certification program for level - 2
The application is built with Finnhub Open source API, Angular and Angular Material library and Bootstrap. <br>
The application is hosted on <a href="https://shahkeval0101.github.io/.">github pages</a> . <br>
The source code is present at <a href="https://github.com/shahkeval0101/shahkeval0101.github.io">github</a> . <br>
<button mat-raised-button [routerLink]="['']" color="primary">
  Back to list of stocks
</button>    